#!/bin/sh
# vim:set filetype=sh:
#
# BSD 3-Clause License, Justin W. Flory <https://jwf.io>
#
# xrandr wrapper script for a HiDPI laptop display.
#
# This script is an annotated wrapper for xrandr. The script is not complicated, but it is explained for the purpose of
# reuse and extension in future arrangements. The motivation to make this was behind my frustration with using a mixed
# desk set-up with one HiDPI display (on a 14" laptop screen) along with a 1080p 24" monitor display.
#
# There is one display:
#
# * {{ monitors.hidpi.id}}: 4K ({{ monitors.hidpi.ratio }}) display (a.k.a. HiDPI)
#

xrandr \
  --output {{ monitors.hidpi.id }} \
    --primary \
    --mode {{ monitors.hidpi.ratio }} \
    --pos {{ monitors.hidpi.pos }} \
    --scale 1x1 \
    --rotate normal \
  \
  --output {{ monitors.standard.id }} \
    --off \
  \
  --output HDMI-1 \
    --off \
  \
  --output DP-2 \
    --off
